:root {
  /* global define variables for easier maintenance */
  --darkPurple-color: #28124d;
  --lightPurple-color: #6c40b5;
  --lightgray-color: #8c8c8c;
  --white-color: #ffffff;
}

.page-wrapper,
body {
  background-size: cover; /* image is automatically scaled to cover the entire background area of the element, the ratio of the image is maintained, not distorted or stretched unnaturally */
  min-height: 100vh; /*to ensure the bg takes the rest of the viewport height */
}
body #light {
  background: url(../Images/bg-light.png) no-repeat fixed; /* fixed to the viewport, bg will remain in place as the user scrolls the page */
  background-size: cover; /* image is automatically scaled to cover the entire background area of the element, the ratio of the image is maintained, not distorted or stretched unnaturally */
  min-height: 100vh; /*to ensure the bg takes the rest of the viewport height */
}
body #dark {
  background: url(../Images/bg-dark.png) no-repeat fixed; /* fixed to the viewport, bg will remain in place as the user scrolls the page */
  background-size: cover; /* image is automatically scaled to cover the entire background area of the element, the ratio of the image is maintained, not distorted or stretched unnaturally */
  min-height: 100vh; /*to ensure the bg takes the rest of the viewport height */
}

.page-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 20px;
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Lato", sans-serif;
  padding-top: 5px;
  font-weight: 100;
}
h1 {
  font-size: 70px;
  font-weight: 700;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
p {
  font-size: 12px;
  font-family: "Lato", sans-serif;
}

/* Button */
.btn-round {
  display: inline-block;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
}
#light .btn-round {
  color: var(--lightgray-color);
  background: var(--white-color);
}
#dark .btn-round {
  color: var(--lightgray-color);
  background: transparent;
  border: 2px solid var(--lightgray-color);
}
.btn-square {
  display: inline-block;
  border: none;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  padding: 5px;
}
#light .btn-square {
  background: var(--lightPurple-color);
}
#dark .btn-square {
  background: var(--darkPurple-color);
}

/* Search Box */
.search-box {
  display: flex; /*align input and button side by side*/
  width: 100%;
}
.search-box input[type="text"] {
  width: 100%;
  box-sizing: border-box; /*include the padding and border in an element's total width and height*/
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
}
#light .search-box input[type="text"] {
  background: rgba(255, 255, 255, 0.2);
  color: var(--darkPurple-color);
}
#dark .search-box input[type="text"] {
  background: rgba(0, 0, 0, 0.4);
  color: #ffffff;
}
.search-box button {
  margin-left: 10px;
  cursor: pointer;
}

.search-errorMsg {
  color: rgb(254, 50, 117);
  font-weight: 500;
  /* decide to add blinker to draw user's attention to the error message */
  animation: blinker 1.5s linear infinite;
  /* 1.5s duration of the animation, linear will make the animation progress at a constant speed, and on infinite loop*/
}
@keyframes blinker {
  50% {
    /* at the 50% mark of the animation named blinker, the errorMsg element will have an opacity of 0.5 */
    opacity: 0.5; /* set opacity to 0.5 at 50% */
  }
}
/* 
.search-dropdown {
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  border: none;
  padding-left: 10px; when dropdown does appear, give it some padding on the left, which the wording starting line aligns with the searchbox input
  width: initial;
}
.search-dropdown-row {
  cursor: pointer;
} */

/* Today's Weather */
.weather-container {
  margin-top: 100px;
  width: 100%;
  box-sizing: border-box; /*include the padding and border in an element's total width and height*/
  padding: 20px;
  border-radius: 25px;
  height: fit-content;
  position: relative;
}
#light .weather-container {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
}
#dark .weather-container {
  background: rgba(0, 0, 0, 0.2);
  border: none;
}
.imageSun {
  position: absolute;
  top: 0px;
  right: 8px;
  top: -80px;
  width: 180px;
  height: 180px;
}
.weather-top-section-TodayWeather {
  display: flex; /*align input and button side by side*/
  width: 100%;
  position: relative;
}
.weather-top-sectionLeft {
  width: 45%;
}
#light .weather-top-sectionLeft h5 {
  color: var(--darkPurple-color);
}
#dark .weather-top-sectionLeft h5 {
  color: var(--white-color);
}
#light .groupColorText h5 {
  color: var(--lightgray-color);
}
#dark .groupColorText h5 {
  color: var(--white-color);
}
#light .weather-top-sectionLeft h1 {
  color: var(--lightPurple-color);
}
#dark .weather-top-sectionLeft h1 {
  color: var(--white-color);
}
.weather-top-sectionRight {
  width: 55%;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Search History */
.weather-bottom-section-SearchHistory {
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box; /*include the padding and border in an element's total width and height*/
  padding: 20px;
  border: none;
  border-radius: 25px;
  height: fit-content;
}
#light .weather-bottom-section-SearchHistory {
  background: rgba(255, 255, 255, 0.3);
}
#dark .weather-bottom-section-SearchHistory {
  background: rgba(0, 0, 0, 0.2);
}
.searchHistory-title {
  border: 0px solid rgb(1, 255, 18);
}
#light .searchHistory-title {
  color: var(--darkPurple-color);
}
#dark .searchHistory-title {
  color: var(--white-color);
}

.searchHistoryItem-container {
  height: auto;
  margin-top: 10px;
}
.searchHistoryItem {
  box-sizing: border-box; /*include the padding and border in an element's total width and height*/
  padding: 10px;
  border: none;
  border-radius: 15px;
  height: 75px;
  display: flex; /*align input and button side by side*/
  width: 100%;
  margin-bottom: 20px;
}
#light .searchHistoryItem {
  background: rgba(255, 255, 255, 0.4);
}
#dark .searchHistoryItem {
  background: rgba(0, 0, 0, 0.4);
}
.searchHistoryItem-left {
  width: 50%;
}
#light .searchHistoryItem-left h6,
#light .searchHistoryItem-left p {
  color: var(--darkPurple-color);
}
#dark .searchHistoryItem-left h6 {
  color: var(--white-color);
}
#dark .searchHistoryItem-left p {
  color: var(--lightgray-color);
}
.searchHistoryItem-right {
  width: 50%;
  text-align: right;
  line-height: 65px;
}
.searchHistoryItem-right-button {
  padding-left: 10px;
  display: inline-block;
  justify-content: center;
}

/* theme button */
.themeButton {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 20px;
}

/*------------------------------------------------------------------------
Responsive Media Quaries
------------------------------------------------------------------------*/

/* TV */
@media only screen and (min-width: 1200px) {
  .page-container {
    width: 80%;
  }
  .weather-top-sectionLeft {
    width: 30%;
  }
  .weather-top-sectionRight {
    width: 70%;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex; /*display flex in a row*/
    justify-content: space-between; /*spacing evenly in the div*/
  }
  /* .weather-top-sectionRight h1,
  .weather-top-sectionRight h2,
  .weather-top-sectionRight h3,
  .weather-top-sectionRight h4,
  .weather-top-sectionRight h5,
  .weather-top-sectionRight h6,
  .weather-top-sectionRight p {
    border: 0px solid rgb(255, 255, 0);
  } */

  .searchHistoryItem {
    box-sizing: border-box; /*include the padding and border in an element's total width and height*/
    padding: 10px;
    border: none;
    border-radius: 15px;
    height: 60px;
    display: flex; /*align input and button side by side*/
    width: 100%;
    margin-bottom: 20px;
  }
  .searchHistoryItem-left {
    width: 80%;
    display: flex; /*display flex in a row*/
    justify-content: space-between; /*spacing evenly in the div*/
  }
  .searchHistoryItem-left h1,
  .searchHistoryItem-left h2,
  .searchHistoryItem-left h3,
  .searchHistoryItem-left h4,
  .searchHistoryItem-left h5,
  .searchHistoryItem-left h6,
  .searchHistoryItem-left p {
    margin-top: auto;
    margin-bottom: auto;
  }
  .searchHistoryItem-right {
    width: 20%;
    text-align: right;
    line-height: 10px; /* force the button position to be higher */
  }
}

/* DESKTOP */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .page-container {
    width: 80%;
  }
  .weather-top-sectionLeft {
    width: 30%;
  }
  .weather-top-sectionRight {
    width: 70%;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex; /*display flex in a row*/
    justify-content: space-between; /*spacing evenly in the div*/
  }
  /* .weather-top-sectionRight h1,
  .weather-top-sectionRight h2,
  .weather-top-sectionRight h3,
  .weather-top-sectionRight h4,
  .weather-top-sectionRight h5,
  .weather-top-sectionRight h6,
  .weather-top-sectionRight p {
    border: 0px solid rgb(255, 255, 0);
  } */

  .searchHistoryItem {
    box-sizing: border-box; /*include the padding and border in an element's total width and height*/
    padding: 10px;
    border: none;
    border-radius: 15px;
    height: 60px;
    display: flex; /*align input and button side by side*/
    width: 100%;
    margin-bottom: 20px;
  }
  .searchHistoryItem-left {
    width: 80%;
    display: flex; /*display flex in a row*/
    justify-content: space-between; /*spacing evenly in the div*/
  }
  .searchHistoryItem-left h1,
  .searchHistoryItem-left h2,
  .searchHistoryItem-left h3,
  .searchHistoryItem-left h4,
  .searchHistoryItem-left h5,
  .searchHistoryItem-left h6,
  .searchHistoryItem-left p {
    margin-top: auto;
    margin-bottom: auto;
  }
  .searchHistoryItem-right {
    width: 20%;
    text-align: right;
    line-height: 10px; /* force the button position to be higher */
  }
}

/* LARGE TABLET */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-container {
    width: 80%;
  }
  .weather-top-sectionLeft {
    width: 30%;
  }
  .weather-top-sectionRight {
    width: 70%;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex; /*display flex in a row*/
    justify-content: space-between; /*spacing evenly in the div*/
  }
  /* .weather-top-sectionRight h1,
  .weather-top-sectionRight h2,
  .weather-top-sectionRight h3,
  .weather-top-sectionRight h4,
  .weather-top-sectionRight h5,
  .weather-top-sectionRight h6,
  .weather-top-sectionRight p {
    border: 0px solid rgb(255, 255, 0);
  } */

  .searchHistoryItem {
    box-sizing: border-box; /*include the padding and border in an element's total width and height*/
    padding: 10px;
    border: none;
    border-radius: 15px;
    height: 60px;
    display: flex; /*align input and button side by side*/
    width: 100%;
    margin-bottom: 20px;
  }
  .searchHistoryItem-left {
    width: 80%;
    display: flex; /*display flex in a row*/
    justify-content: space-between; /*spacing evenly in the div*/
  }
  .searchHistoryItem-left h1,
  .searchHistoryItem-left h2,
  .searchHistoryItem-left h3,
  .searchHistoryItem-left h4,
  .searchHistoryItem-left h5,
  .searchHistoryItem-left h6,
  .searchHistoryItem-left p {
    margin-top: auto;
    margin-bottom: auto;
  }
  .searchHistoryItem-right {
    width: 20%;
    text-align: right;
    line-height: 10px; /* force the button position to be higher */
  }
}

/* MEDIUM TABLET */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* PHONE */
@media only screen and (min-width: 320px) and (max-width: 479px) {
}

/* SMALLER DEVICES*/
@media only screen and (min-width: 150px) and (max-width: 319px) {
}
